<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<% @add = Spree::Product.find_by(name: "customer-address") %>
<script>
/* Get Newsletter in index */
$(document).ready(function(){
	$("#contact_newsletter").submit(function()
	    {
	        var emailNewsletter = $("#email-newsletter").val(); // get email field value

	        $.ajax(
	        {
	            type: "POST",
	            url: "https://mandrillapp.com/api/1.0/messages/send.json",
	            data: {
	                'key': 'eD8EQ_uqhJz5qbillvVwcg',
	                'message': {
	                    'from_email': emailNewsletter,
	                    'headers': {
	                        'Reply-To': emailNewsletter
	                    },
	                    'subject': 'mysterious-ravine get Newsletter',
	                    'text': 'You have received a request from mysterious-ravine site.\n\n' + emailNewsletter + ' wants request a newsletter',
	                    'to': new Array (
	                    {
	                        'email': '<%= @add.mailer %>',
	                        'name': 'super2.herokuapp.com',
	                        'type': 'to'
	                    })
	                }
	            }
	        })
	        .done(function(response) {
	            alert('Your message has been sent. Thank you!'); // show success message
	            $("#email-newsletter").val(''); // reset field after successful submission
	        })
	        .fail(function(response) {
	            alert('Error sending message.');
	        });
	        return false; // prevent page refresh
	    });
})
	    
</script>

<script>
	$("#toTop").css("display", "none");
		
		//Check to see if the window is top if not then display button
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}
		});
		
		//Click event to scroll to top
		$('#toTop').click(function(){
			$('html, body').animate({scrollTop : 0},1000);
			return false;
		});
</script>

<%= yield :head %>
