<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>


<div id="slider" class="nivoSlider">
    <%= image_tag("slider1.jpg") %>
    <%= image_tag("slider2.jpg") %>
    <%= image_tag("slider3.jpg") %>
</div>


<div id="triple-top">
	<div class="row">
		<div class="col-md-6 categories-left">
			<a style="position:relative;" href="/t/printer-slash-fax-slash-copier-supplies/inkjet-cartridges">
				<%= image_tag("cartridge.jpg") %>
				<p>Banner 1</p>
			</a>
			<a style="position:relative;" href="/t/printer-slash-fax-slash-copier-supplies/inkjet-cartridges">
				<%= image_tag("diaries.jpg") %>
				<p>Banner 2</p>
			</a>
		</div>
		<div class="col-md-6 categories-right">
			<a style="position:relative;" href="/t/printer-slash-fax-slash-copier-supplies/inkjet-cartridges">
				<%= image_tag("furniture.jpg") %>
				<p>Banner 3</p>
			</a>
		</div>
	</div>
</div>



<div class="sale clearfix">
    <div class="container">
		<div class="row">
			<div class="title">
            	<hr class="sale">
        	</div>
			<% @products.where(sale: true).each do |e| %>
			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag('http://ts.liveofficedata.co.uk/' + e.image_url), e %>
			      <div class="caption">
			        <h4><%= link_to truncate(e.name, length: 80), e %></h4>
			        <p><%= link_to e.ts_code, e %></p>
			        <p><button class="btn btn-primary">€<%= link_to e.price, e %></button></p>
			      </div>
			    </div>
			  </div>
			<% end %>
		</div>
    </div>
</div>

<div class="featured clearfix">
    <div class="container">
		<div class="row">
			<div class="title">
            	<hr class="featured">
        	</div>
			<% @products.where(featured: true).each do |e| %>
			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag('http://ts.liveofficedata.co.uk/' + e.image_url), e %>
			      <div class="caption">
			        <h4><%= link_to truncate(e.name, length: 80), e %></h4>
			        <p><%= link_to e.ts_code, e %></p>
			        <p><button class="btn btn-primary">€<%= link_to e.price, e %></button></p>
			      </div>
			    </div>
			  </div>
			<% end %>
		</div>
    </div>
</div>

<div class="latest clearfix">
    <div class="container">
		<div class="row">
			<div class="title">
            	<hr class="latest">
        	</div>
			<% @products.where(latest: true).each do |e| %>
			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag('http://ts.liveofficedata.co.uk/' + e.image_url), e %>
			      <div class="caption">
			        <h4><%= link_to truncate(e.name, length: 80), e %></h4>
			        <p><%= link_to e.ts_code, e %></p>
			        <p><button class="btn btn-primary">€<%= link_to e.price, e %></button></p>
			      </div>
			    </div>
			  </div>
			<% end %>
		</div>
    </div>
</div>


<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});

$('#slider').nivoSlider({
    effect: 'fade',                 // Specify sets like: 'fold,fade,sliceDown'
    slices: 15,                     // For slice animations
    boxCols: 8,                     // For box animations
    boxRows: 4,                     // For box animations
    animSpeed: 500,                 // Slide transition speed
    pauseTime: 5000,                 // How long each slide will show
    startSlide: 0,                     // Set starting Slide (0 index)
    directionNav: false,             // Next & Prev navigation
    controlNav: false,                 // 1,2,3... navigation
    controlNavThumbs: false,         // Use thumbnails for Control Nav
    pauseOnHover: false,             // Stop animation while hovering
    manualAdvance: false,             // Force manual transitions
    prevText: 'Prev',                 // Prev directionNav text
    nextText: 'Next',                 // Next directionNav text
    randomStart: false,             // Start on a random slide
    beforeChange: function(){},     // Triggers before a slide transition
    afterChange: function(){},         // Triggers after a slide transition
    slideshowEnd: function(){},     // Triggers after all slides have been shown
    lastSlide: function(){},         // Triggers when last slide is shown
    afterLoad: function(){}         // Triggers when slider has loaded
});
</script>
